$first: #2E364D;
$secound: #0FBF4D;
$third: #DADADA;
$fourth: #434A73;
* { 
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #262626;
}
@mixin flex($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexSelf($justify,$align) {
    justify-self: $justify;
    align-self: $align;
}
#mainContainer
{
    width: 50vw;
    @include flex(column,stretch,stretch);
    position: fixed;
}
#searchcontainer
{
    @include flex(row,stretch,stretch);
    padding: 1rem;
    background-color: $first;
    height: 200px;
    flex: 1;
}
#east
{
    flex: 3;
    padding: 1rem;
    @include flex(column,flex-start,flex-start);
    :first-child
    {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: $secound;
    }
    :nth-child(2)
    {
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin-top: -0.3rem;
        margin-left: 0.2rem;
        font-weight: bold;
        color: $third;
    }
}
#west
{
    flex: 5;
    padding: 1rem;
}
#north
{
    flex: 1;
    margin-bottom: 0.5rem;
    @include flex(row,stretch,stretch);
    & :first-child
    {
        flex: 4;
    }
    & :nth-child(2)
    {
        flex: 3;
    }
    .checkboxContainer
    {
        margin-bottom: 0.7rem;
    }
    label
    {
        text-transform: capitalize;
        color: $third;
    }
}
#south
{
    flex: 1;
    @include flex(row,stretch,space-around);
    button
    {
        background-color: $secound;
        border: none;
        color: $third;
        width: 20%;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.2rem;
        margin: 0 0.2rem;
    }
    input
    {
        background-color: $fourth;
        border: none;
        width: 60%;
        height: 1.2rem;
        color: $third;
        margin: 0 0.2rem;
    }
}
#resultcontainer
{
    background-color: $fourth;
    
    height: 60vh;
    transform-origin: top;
    transform: scale(1,0);
    transition: 0.5s linear;
    overflow-y: scroll;

    //SCROLL
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}
#resultList
{
    list-style: none;
    padding: 0;
    margin: 0;
    & >:nth-child(even)
    {
        background-color:#596299;
    }
    li:hover
    {
        background-color: $first;
    }
    a
    {
        @include flex(row,stretch,center);
        padding: 1rem 0;
        text-decoration: none;
    }
    img
    {
        height: 5rem;
        padding: 0 1rem;
    }
    span
    {
        color: $third;
        width: 30%;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}
@media (max-width: 500px) and (orientation: portrait)
{
    html
    {
        font-size: 14px;
    }
    #mainContainer{
        width: 100vw;
        height: 100vh;
    }
    #searchcontainer{
        flex-direction: column;
    }
}
@media (min-width: 501px) and (orientation: portrait){
    #mainContainer{
        width: 80vw;
    }
    #searchcontainer{
        flex-direction: row;
    }
}
@media (max-width: 800px) and (orientation: landscape)
{
    html
    {
        font-size: 13px;
    }
    #mainContainer{
        width: 100vw;
        height: 100vh;
    }
    #searchcontainer{
        flex-direction: row;
    }
}
@media (min-width: 801px) and (orientation: landscape)
{
    html
    {
        font-size: 15px;
    }
    #mainContainer{
        width: 60vw;
    }
    
}